<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>User Profile</title>
  <link rel="stylesheet" href="user-profile.css">

</head>

<body>

  <!--this is the navbar, make this a partial soon-->
  <div class="navbar">
    <div class="navbar-left">
      <div class="logo">
        <a href="#"><img src="./images/logo-red.png"></a>
      </div>
      <a href="#">Home</a>
      <a href="#">Subscriptions</a>
      <a href="#">Services</a>
      <a href="#">Contact Us</a>
    </div>
    <div class="navbar-right">
      <div class="username">
        <a href="#" class="user-link">
          <img src="./images/usernamebg.png" alt="User Profile Image">
          <span>Hello, Pedro</span> <!--turn this to drop down-->
        </a>
      </div>
      <a href="#" class="cart-icon"><img src="./images/cart.png"></a>
      <a href="#" class="search-icon"><img src="./images/search.png"></a>
    </div>
  </div>

</body>
</html>
